name: Docker Image CI for GHCR

on:
  push:
    branches:
      - master

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write # Grant write permission to packages

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Build and push the image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/wsd-25-practice02:python-latest
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
